<div class="container">
    <img src="{{this.productDetails.image}}" />
    <div class="detailsContainer">
        <h1><strong>{{this.productDetails.title}}</strong></h1>
        <p><strong>Description: </strong>{{this.productDetails.description}}</p>
        <h2><strong>Price:</strong> ₹{{this.productDetails.price}}</h2>
        <h3><strong>Rating:</strong> {{this.productDetails.rating.rate}}</h3>
        <h3><strong>Quantity: </strong>{{this.productDetails.rating.count}}</h3>
        <h3><strong>Category:</strong> {{this.productDetails.category}}</h3>
    </div>
</div>